@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;700&family=IBM+Plex+Serif:wght@300;400;500;700&display=swap');

:root {
  --ff-sans: 'IBM Plex Sans', sans-serif;
  --ff-serif: 'IBM Plex Serif', serif;

  /* small screen font-sizes */
  --fs-200: 0.75rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.65rem;
  --fs-600: 2rem;
  --fs-900: 3.5rem;

  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #eef1f6;
  --clr-neutral-300: #a9afbc;
  --clr-neutral-400: #737b8c;
  --clr-neutral-500: #434956;
  --clr-neutral-900: #020203;

  --clr-primary-300: #f3f7ff;
  --clr-primary-400: #8ea8da;

  --br: 1rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: var(--ff-sans);
}

img {
  max-width: 100%;
  display: inline-block;
}

h1,
.title-lg {
  margin: 0;
  font-family: var(--ff-serif);
  font-size: var(--fs-900);
  font-weight: var(--fw-200);
  line-height: 1.25;
}

h2,
.title {
  margin: 0;
  font-family: var(--ff-serif);
  font-size: var(--fs-600);
  font-weight: var(--fw-200);
}

.title {
  color: var(--clr-neutral-400);
}

h3,
.title-med {
  margin: 0 0 2rem 0;
  font-family: var(--ff-serif);
  font-size: var(--fs-500);
  font-weight: var(--fw-200);
}

.spacer > * + * {
  margin-top: 1em;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 77ch;
  margin: 0 auto;
}

.wrap {
  flex-wrap: wrap;
}
